*{
	margin: 0px;
	padding: 0px;
}

.jumbotron{
	
	opacity: .5;
    height: 50px;	
}
body{
	background-image: url(city.jpg);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	color: white;
}
ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul li{
	float: left;
	width: 200px;
	height: 40px;
	background-color: gray;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	margin-right: 20px;
}
	
ul li a {
	text-decoration: none;
	color: white;
	display: block;
}

ul li:hover{
	background-color: green;
	
}
ul li ul li{
	display: none;
}

ul li:hover ul li{
	display: block;
}

h{
	text-decoration: underline;
}

	#footer {
		width:1300px;
		height: 100px;
	}